.iconButton
{
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.iconButton:not(:last-child)
{
    margin-right: 5px;
}

.controls
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.themeSelector
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
