.digit
{
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    height: 10px;

    transition: background-color 150ms ease-in-out;
}

.digit:not(:last-child)
{
    margin-bottom: 1px;
}
